  .poster{
    height: 100vh;
    width: 100%;
    object-fit: cover;
    /* position: absolute ; */
  }
  .heading{
    /* position: absolute; */
    margin-top: 40vh;
    width: 40vw;
    margin-left: 7vw;
  }
  .heading h1{
    font-size: 10vh;
    
  }
  
  
  .btn-heading{
    padding: 1vh 3vh 1vh 3vh;
    color: white;
    background-color: orange;
    border: none;
    border-radius: 5px;
    margin-top: 7vh;
  }
@media (max-width: 768px) {
    .poster {
      height: 100vh;
      width: 100%;
    }
    .heading {
      margin-top: 65vh;
      color: white;
      width: 80vw;
      margin-left: 10vw;
    }
    .heading h1 {
      font-size: 6vh;
    }
    .btn-heading {
      margin-top: 3vh;
    }
  }

  