

.img_blog img{
    /* height: 250px; */
    /* width: 350px; */
    height: 40vh;
    width: 100%;
    /* border: 5px solid red; */
}

.img_blog {
    position: absolute;
}

.text_blog{
    width: 22vw;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-color: white;
    opacity: 0.0;
    /* position: absolute; */
    margin-top: 25px;
    margin-left: 20px;
    transition: all 0.3s;
    cursor: pointer;
}
.text_blog h4,p{
    color: black;
    /* opacity: 1; */
    /* font-size: 5px; */
}

.text_blog:hover{
    transform: scale(1);
    opacity: 0.8;
}
@media only screen and (max-width:600px){
    .img_blog img{
        /* height: 250px; */
        /* width: 350px; */
        height: 40vh;
        width: 95%;
        margin-top: 100px;
        /* border: 5px solid red; */
    }
    .img_blog {
        /* position: relative; */
    }

    
.text_blog{
    height: 30vh;
    width: 80%;
    margin-top: 140px;
    margin-left: 40px;
}


}