.Category_carts{
    margin-left: -50px;
}
#dropdown-basic{
background-color: white;
color: black;
border-radius: 0px;
border: 1px solid rgb(182, 181, 181);
}
.btn{
padding-left: 15px;
padding-right: 15px;
margin-right: 10px;
margin-left: 10px;
border: 1px solid rgb(182, 181, 181);
border-radius: 0px;
}
.border_row{
    border-bottom: 1px solid rgb(182, 181, 181);
    padding-bottom: 50px;
}
